body{
  font-family: Helvetica;
  text-align: center;
}
#home{
  background-image: url('../images/the-flatiron-building.jpg');

}
#home h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#home a{
  font-size: 18px;
  color: white;
}

#process h2{
  font-size: 32px;
  font-weight: bold;
}

h2{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

#design{
  font-size: 23px;
  font-weight: bold;
  color: white;
/*  clip-path: inset(30px 10px 30px 10px);*/
  background-image: url('../images/the-flatiron-building.jpg');
}

#work h2{
  font-size: 23px;
  font-weight: bold;
}

#work p{
  font-size: 14px;
}

#team h2{
  font-size: 23px;
  font-weight: bold;
}

#team p{
  font-size: 14px;
}

#contact h2{
  font-size: 23px;
  font-weight: bold;
}

#contact p{
  font-size: 14px;
}

#footer{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
  font-weight: bold;
}

#footer a{
  font-size: 11px;
  color: white;
  font-weight: bold;
}
